body {
	background-color: #F5F5F5;
}

a {
		color: #125ace;
}

#date {
	text-decoration: underline;
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 14px; 
	color: 	#4B0082;
}

#blog {
	width: 65%;
	float: right;
	padding-top: 30px;
	text-align: left;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cont_1 {
	background-color: #e2e6e9;
	text-align: left;
	padding: 20px;
}

.cont_2 {
	background-color: #f0f2f4;
	text-align: left;
	padding: 20px;
}

#blog_entry {
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px; 
	color: 	#4B0082;
}

#container {
	padding-top: 10px;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: table-cell;
	text-align: center;
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.wrapper {
		width: 100%;
		left:0;
		right: 0;
		position: absolute;
	}

	#blog {
		margin-top: 50px;
		width: 100%;
		float: none;
	}
	

}