body {
	background-color: #F5F5F5;
}

.topnav a#icon {
	display: none;
}

h1 {
	font-size: 30px;
	text-align: center;
}

.topnav {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
}

.topnav a {
	padding-bottom: 0px;
	text-decoration: none;
	text-align: center;
	padding-right: 50px;
	color: #125ace;
}

.topnav a:hover {
	color: orange;
}

.topnav a.highlight {
	color: orange;
	text-decoration: underline;
}

#about {
	text-align: center;
	display: table-cell;
	vertical-align: top;
	position: relative;
	font-size: 14px;
	float: left;
	width: 25%;
	height: 100%;
	margin: 20px;
	text-align: center;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#links img {
	width: 15%;
	height: 15%;
}

body {
	margin: auto;
	width: 65%;
	text-align: center;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 601px) {
	.topnav #myLinks {
		display: inline-block;
	}
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 30px;
		float: left;
		vertical-align: top;
		margin-top: 10px;
		text-align: center;
	}
	.topnav #myLinks {
		display: none;

	}

	.topnav {
		overflow: hidden;
		position: relative;
		display: block;
	}

	.topnav a#icon{
		right: 0;
		top: 15px;
		display: block;
		position: relative;
	}

	.topnav a {
		padding: 0px;
		display: block;
	}

}







