a .home_link {
	text-decoration: none;
	color: none;
}

h1 {
	font-size: 36px;
	text-align: center;
	background-color: #483D8B;
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	padding: 10px;
	padding-left: 50px;
	margin: 0px;
}

.topbar a {
	text-decoration: none;
	color: none;
}

body {
	margin: auto;
	width: 70%;
	text-align: center;
	text-decoration: none;
}

.subtitle {
	font-size: 12px;
	font-weight: 100;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}
.topnav #myLinks {
		display: inline-block;
		text-align: center;
		background-color: #f5f5f5;
	}

.topnav a#icon {
	display: none;
}

#myLinks {
	width: 100%;
	margin-top: -2px;
}
.topnav {
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	font-family: 'Lato', sans-serif;
}

.topnav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	/*border-style: solid;
	border-color: #125ace;
	border-top-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;*/

}
.topnav li {
	display: inline;
}

.topnav li a {
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -2px;
	top: 0;
	/*color: white;*/
	color: rgb(100,100,100);

}

.topnav a:hover {
	color: #a891c1;
	/*background-color: #125ace;*/
}

.invisible {
	display: none;
}

.topnav a.highlight {
	/*color: #483D8B;*/
	color: #125ace;;
	text-decoration: underline;
	font-weight: bolder;
}

.col-lg-6 a {
	font-weight: bold;
}

#about {
	width: 30%;
	text-align: center;
	margin-top: 150px;
	/*display: table-cell;
	vertical-align: top;
	position: relative;*/
	font-size: 13px;
	float: left;
	height: 100%;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

#links img {
	width: 15%;
	height: 15%;
	margin: 2px;
}



#twitter-widget-0 { 
      width: 100% !important; 
      margin: auto;
      margin-left: 0px;
}

/*
@media screen and (min-width: 601px) {
	.topnav #myLinks {
		display: inline-block;
	}
}*/

@media screen and (max-width: 1001px) {

	.container {
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}

	.twit {
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}

	#about {
		text-align: center;
		width: 100%;
		float: none;
		font-size: 18px;
		margin: 0px;
}

	.topbar {
		width: 100%;
		display: inline-block;
		text-align: center;

	}

	h1 {
		font-size: 18px;
		text-align: left;
		margin-bottom: 0px;
		padding-bottom: 0px;
		float: left;
	}

	.subtitle {
		margin-top: 0px;
		font-size: 12px;
		margin-bottom: 0px; 
		float: none;
	}

	.topnav a#icon{
		float:right;
		display: inline-block;
		height: 100%;
		padding: 15px;
		padding-bottom: 15px;
		margin-bottom: 0px;
		color: white;
	}

	.topnav #myLinks {
		display: none;
		background-color: #e2e6e9;

		width: 100%;
	}

	.topnav #myLinks a {
		color: rgb(40,40,40);
	}

	.topnav #myLinks a:hover {
		color: #a891c1;
	/*background-color: #125ace;*/
	}

	.topnav #myLinks a.highlight {
		color: #125ace;;
		text-decoration: underline;
		font-weight: bolder;
	}

	.topnav {
		width: 100%;
		position: fixed;
		left: 0;
	    z-index: 100;
	    border-top: 0;
    	background-color: #483D8B;
    	color: white;

	}

	#twitter-widget-0 { 
      width: 100% !important; 
	}

	.topnav li a {
		padding: 10px;
		padding-top: 5px;
		margin-top: 0px;
		top: 0;
		display: block;
		color: white;
	}

	#links img {
		width: 35px;
		height: 35px;
	}

	#pic {
		width: 35%;
		height: 35%;
	}




}







