body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-color: #f5f5f5;
	color: rgb(47,79,79);
}

.wrapper {
	width: 100%;
	height: 100%;

}

.list {
	list-style: disc;
	margin-left: 20px;
}

.cont {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 70%;
}

.navi {
	background-color: #f5f5f5;
}

.navi a {
	color: rgb(100,100,100);
	text-decoration: none;
	font-weight: normal;
}

.navi .active {
	color: #483D8B;
	font-weight: bold;
	text-decoration: underline;
	padding: 5px;
}

.navi a:hover {
	color: #a891c1;
}

h2 {
	text-align: center;
	/*background-color: #e2e6e9;*/
	color: #483D8B;
	padding: 10px;
	margin-bottom: 0px;
	margin-top: 0px;

}


.project_type {
	/*text-align: left;*/
	color: #483D8B;
	font-size:  23px;
	padding: 10px;
	padding-left:  0px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-decoration: underline;
}

ul {
	list-style-type: none;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin-top: 0px;
}

.cont_1 {
	/*background-color: #e2e6e9;*/
	text-align: left;
	height: 100%;
	overflow: auto;
	border-style: solid;
	border-color: #483D8B;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	padding: 75px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.cont_2 {
	/*background-color: #f0f2f4;*/
	text-align: left;
	height: 100%;
	overflow: auto;
		border-style: solid;
	border-color: #483D8B;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	padding: 75px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.above {
	height: 100%;
	display: inline-block;
	text-align: center;
}

.left {
	width: 65%;
	height: 100%;
	float: left;
}

.right {
	width: 30%;
	height: auto;
	float: right;
}

.below {
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	overflow: visible;
}

#portfolio {
	padding-top: 0px;
	margin-top: 150px;
}

#portfolio-des {
	padding-top: 0px;
	margin-top: 125px;
}

img {
	width: 100%;
	height: 100%;
	padding: 15px;
	display: inline-block;
	float: left;
}

.img2 {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 75%;
	width: 75%;
}

.click_link {
	
}

.click_link a {
	text-align: center;
	color: white;
	font-size: 15px;
	padding: 15px;
	background-color: #052c6b;
	/*background-color: rgba(72, 61, 139, 1);*/
}

.click_link a:hover {
	color: #052c6b;
	background-color: #a891c1;
}

a {
	color: #125ace;
}

a:hover {
	color: orange;
}

@media screen and (max-width: 1001px) {
	.cont {
		width: 100%;
	}
	.navi {
		margin-top: 55px;
		width: 100%;
	}

	#portfolio {
	padding-top: 0px;
	margin-top: 100px;
	}

	#portfolio-des {
	padding-top: 0px;
	margin-top: 0px;
}

	.int_content {
		margin-top: 55px;
	}

	.tech_content {
		margin-top: 55px;
	}
	.wrapper {
		width: 100%;
		left:0;
		right: 0;
		position: absolute;
	}

	.above {
	display: block;
	}

	.left {
		width: 100%;
	float: none;
}

.right {
	width: 100%;
	float: none;
}

img {
	width: 85%;
	height: 65%;
	padding: 15px;
	display: inline-block;
	float: none;
}

@media screen and (max-width: 700px) {

	.img2 {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
}
	.cont {
		width: 100%;
	}
	.navi {
		width: 100%;
	}
	.cont_2 {
		padding: 20px;
	}

	.cont_1 {
		padding: 20px;
	}

	.above {
		padding: 0px;
	}

	.below {
		padding: 0px;
	}

	img {
		padding: 0px;
		width: 100%;
		height: 100%;
	}
}
}