#projects {
	width: 65%;
	float: right;
}

#container {
	padding-top: 10px;
	width: 100%;
	display: table-cell;
	text-align: center;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#ux {
	width: 50%;
	height: 100%;
	float: left;
}

#dev {
	width: 50%;
	height: 100%;
	float: right;
}

#misc {
	width: 50%;
	height: 100%;
	float: left;
}

#ux h4 {
	text-align: center;
}

#dev h4 {
	text-align: center;
}

.ux_content li {
	list-style: none;
	margin-right: 15px;
	width: 45%;
	height: 100%;
}

.ux_content h5 {
	font-size: 13px;
	text-align: center;
	margin: 10px;
}

.ux_content img {
	width: 100%;
	height: 100%;

	vertical-align: bottom;
	border: solid;
	border-width: 1px;
	border-color: rgb(211,211,211);
}

.ux_content p {
	font-size: 10px;
	
}