
#projects {
	width: 65%;
	float: right;
}

#container {
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: table-cell;
	text-align: center;
	text-decoration: none;
}

a {
		color: #125ace;
}

h3 {
	text-align: center;
}

body {
	background-color: white;
}
#ux p {
	font-size: 13px;
	float: right;
	text-align: right;
}

#ux h3 {
	text-align: left;
}

#dev {
	margin-top: 10px;
}
#dev p {
	font-size: 13px;
	float: right;
	text-align: right;
}
#dev h3 {
	text-align: left;
}

#ux {
	margin-left: 0px;
	width: 100%;
	height: 100%;
}

ul {
	padding: 0;
}

.list_details {
	display: flex;
	flex-direction: column;
	list-style-type: circle;
	text-align: center;
	margin: 0;
	width: 100%;
}

.ux_content {
	width: 100%;
	height: 100%;
}
.ux_content li {
	list-style: none;
	float: left;
	padding: 20px;
}

.ux_content .cont_1 img{
	width: 65%;
	height: 50%;
	float: left;
}

.cont_1 {
	background-color: #e2e6e9;
}

.cont_2 {
	background-color: #f0f2f4;
}

.cont_3 {
	background-color: #e2e6e9;
}

.ux_content .cont_3 img:hover {
	border-color: none;
	border-width: 0px;
}

.ux_content .cont_3 img {
	width: 35%;
	height: 50%;
	float: left;
}

.ux_content h5 {
	font-size: 13px;
	text-align: left;
	margin: 10px;
}

.ux_content img {
	width: 85%;
	height: 100%;
	float: left;
	border: solid;
	border-width: 1px;
	border-color: rgb(211,211,211);
}

.ux_content img:hover {
	border-color: orange;
	border-width: 4px;
}

.ux_content p {
	font-size: 12px;	
}

.dev_content li {
	list-style: none;
	padding: 20px;
	float: left;
}

.dev_content h5 {
	font-size: 13px;
	text-align: left;
	margin: 10px;
}

.dev_content img {
	width: 50%;
	height: 100%;
	float: left;
	border: solid;
	border-width: 1px;
	border-color: rgb(211,211,211);
}

.dev_content img:hover {
	border-color: orange;
	border-width: 4px;
}

.dev_content p {
	font-size: 12px;
	
}

.misc_content li {
	list-style: none;
	padding: 20px;
	float: left;
	font-size: 12px;	
}

@media screen and (max-width: 800px) {
	.wrapper {
		width: 100%;
		left:0;
		right: 0;
		position: absolute;
	}

	#projects {
		margin-top: 50px;
		float: none;
		width: 100%;
	}
	.ux_content {
		width: 100%;
		height: 100%;
	}
	.dev_content {
		width: 100%;
		height: 100%;
	}
	.misc_content {
		width: 100%;
		height: 100%;
	}

	.list_details {
		display: flex;
		flex-direction: column;
		list-style-type: circle;
		text-align: center;
		margin: 0;
		padding: 0;
		width: 100%;
	}
}