body {
	background-color: #F5F5F5;
}

a {
		color: #125ace;
}

#resume {
	padding-top: 5px;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	float: right;
	width: 65%
}

#resume p {
	text-align: left;
}

.skills {
	text-align: center;
}

ul {
	padding: 20px;
}
ul li {
	list-style: none;
}
.with_style li {
	list-style: disc;
}

.cont_1 {
	background-color: #e2e6e9;
	text-align: left;
	padding: 20px;
}
.cont_2 {
	background-color: #f0f2f4;
	text-align: left;
	padding: 20px;
}

#container {
	padding-top: 10px;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: table-cell;
	text-align: center;
	text-decoration: none;
}

h3 {
	text-align: center;
}

#resume img {
	float: left;
}
.depaul img {
	width: 80px;
	height: 80px;
}

.uofr img {
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 800px) {
	.wrapper {
		width: 100%;
		left:0;
		right: 0;
		position: absolute;
	}

	#resume {
		margin-top: 50px;
		width: 100%;
		float: none;
	}	

}