body {
	background-color: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
	color: rgb(47,79,79);
	font-size: 15px;
}

a {
		color: #125ace;
}

a:hover {
		color: #a891c1;
}

.cont {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 70%;
	color: rgb(47,79,79);
}

#resume {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	width: 70%
	padding-top: 0px;
	margin-top: 150px;
}

#resume p {
	text-align: left;
}

h2 {
	text-align: left;
	width: 100%;
	color: #483D8B;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

ul {

}
ul li {
	list-style: none;
}

ul.with_style {
	padding: 0px;
}

.with_style li {
	list-style: disc;
	padding: 2px;

}

.with_style li a {
	text-decoration: none;
	font-weight: bold;
}

.with_style .school a{
	text-decoration: none;
	font-weight: normal;
	color: rgb(47,79,79);;
}

.school a:hover{
	text-decoration: none;
	color: #a891c1;
}

.click_link {
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
}

.click_link a {
	text-align: left;
	color: white;
	font-size: 15px;
	padding: 15px;
	background-color: #052c6b;
}

.click_link a:hover {
	color: #052c6b;
	background-color: #a891c1;
}

.cont_1 {
	background-color: #e2e6e9;
	text-align: left;
	overflow: auto;
	padding: 75px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-style: solid;
	border-color: #483D8B;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
}
.cont_2 {
	text-align: left;
	overflow: auto;
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-style: solid;
	border-color: #483D8B;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
}

.cont_3 {
	text-align: left;
	padding-bottom: 1px;
	padding-left: 20px;

}
.cont_4 {
	text-align: left;
	padding-bottom: 1px;
	padding-left: 20px;
}

h3 {
	text-align: center;
}

#resume img {
	float: left;
}
.depaul img {
	width: 80px;
	height: 80px;
}

.uofr img {
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
}

@media screen and (max-width: 1000px) {
	.wrapper {
		width: 100%;
		left:0;
		right: 0;
		position: absolute;
	}

	#resume {
		margin-top: 50px;
		width: 100%;
		float: none;
	}	

	.cont_1 {
		padding: 80px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.cont_2 {
		padding: 80px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.cont_3 {
		padding: 80px;
		padding-top: 30px;
		padding-bottom: 0px;
	}
}

@media screen and (max-width: 700px) {
	.cont_1 {
		padding: 35px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.cont_2 {
		padding: 35px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.cont_3 {
		padding: 35px;
		padding-top: 30px;
		padding-bottom: 0px;
	}

	.cont_4 {
		padding: 35px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}